
@supports (grid-area: auto) {
	body {
		background-color: rgb(56, 56, 56);
		display: grid;
		grid-template-columns: 1fr 1000px 1fr;
		grid-template-areas: 
			". main .";	
	}

	body .main {
		grid-area: main;
		display: grid;
		grid-template-columns: 250px 25px 725px;
		grid-template-rows: 200px 50px repeat(3, 10px 50px 300px);
		justify-content: center;
		grid-template-areas: 
			"head head head"
			". . ."
			". . ."
			"Manuel Manuel Manuel"
			"ManuelPho . ManuelPara"
			". . ."
			"Dylan Dylan Dylan"
			"DylanPho . DylanPara"
			". . ."
			"Aneesh Aneesh Aneesh"
			"AneeshPho . AneeshPara";
	}

	#heading {
		grid-area: head;
		background-color: rgb(138, 76, 236);
		display: flex;
    	align-items: center;
    	justify-content: center;
		border-radius: 25px;
	}
	
	#heading h1 {
		font-size: 100px;
		font-family: Aleo;
		font-weight: bold;
		color: white;
		
	}
	
	#Manuel {
		color: white;	
		grid-area: Manuel;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
	#ManuelPho {
		grid-area: ManuelPho;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
	#ManuelPho img {
		object-fit: cover;
		width: 250px;
		height: 250px;
		border-radius: 50%;
	}

	#ManuelPara {
		grid-area: ManuelPara;
		display: flex;
		align-self: center;
		justify-content: center;
	}

	#ManuelPara p {
		color: white;	
		display: flex;
    	align-items: center;
    	justify-content: center;
	}
	
	#Dylan {
		color: white;	
		grid-area: Dylan;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
	#DylanPho {
		grid-area: DylanPho;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
	#DylanPho img {
		object-fit: cover;
		width: 250px;
		height: 250px;
		border-radius: 50%;
	}

	#DylanPara {
		color: white;	
		grid-area: DylanPara;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
	#Aneesh {
		color: white;	
		grid-area: Aneesh;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
	#AneeshPho{
		grid-area: AneeshPho;
		display: flex;
		align-self: center;
		
	}
	
	#AneeshPho img {
		
		object-fit: cover;
		width: 250px;
		height: 250px;
		border-radius: 50%;
	}
	
	#AneeshPara {
		color: white;	
		grid-area: AneeshPara;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
}