/* #heading {
	font-size: 100px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	background-color: rgb(128,128,128);
}

#Manuel {
	font-weight: Arial;
	font-size: 20px;
	text-align: left;
	
}

#ManuelPho {
	position: relative;
	left: 20px;
	vertical-align:top;
	display: inline-block;
	
}

#Dylan {
	font-weight: Arial;
	font-size: 20px;
	text-align: left;
	
}

#DylanPho {
	position: relative;
	left: 20px;
	vertical-align:top;
	display: inline-block;
}

#Aneesh {
	font-weight: Arial;
	font-size: 20px;
	text-align: left;
	
}

#AneeshPho{
	position: relative;
	left: 20px;
	vertical-align:top;
	display: inline-block;
} */

@supports (grid-area: auto) {
	body {
		background-color: rgb(43, 43, 43);
		display: grid;
		grid-template-columns: 1fr 1000px 1fr;
		grid-template-areas: 
			". main .";	
	}

	body .main {
		grid-area: main;
		background-color: rgb(150, 150, 150);
		display: grid;
		grid-template-columns: 250px 750px;
		grid-template-rows: 200px 50px repeat(3, 10px 50px 400px);
		justify-content: center;
		grid-template-areas: 
			"head head"
			". ."
			". ."
			"Manuel Manuel"
			"ManuelPho ManuelPara"
			". ."
			"Dylan Dylan"
			"DylanPho DylanPara"
			". ."
			"Aneesh Aneesh"
			"AneeshPho AneeshPara";
	}

	#heading {
		grid-area: head;
		background-color: rgb(138, 76, 236);
		display: flex;
    	align-items: center;
    	justify-content: center;
		border-radius: 25px;
	}
	
	#heading h1 {
		font-size: 100px;
		font-family: Aleo;
		font-weight: bold;
		color: white;
		
	}
	
	#Manuel {
		grid-area: Manuel;
		
	}
	
	#ManuelPho {
		grid-area: ManuelPho;
		
	}

	#ManuelPara {
		grid-area: ManuelPara;
	}

	#ManuelPara p {
		color: white;	
		display: flex;
    	align-items: center;
    	justify-content: center;
	}
	
	#Dylan {
		grid-area: Dylan;
		
	}
	
	#DylanPho {
		grid-area: DylanPho;
	}

	#DylanPara {
		grid-area: DylanPara;
	}
	
	#Aneesh {
		grid-area: Aneesh;
		
	}
	
	#AneeshPho{
		grid-area: AneeshPho;
	}
	
	#AneeshPara {
		grid-area: AneeshPara;
	}
	
}