@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body {
    width: 100%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(4, 110px);
    justify-content: center;
    grid-template-areas: 
        ". message ."
        ". title-score ."
        ". dis-play ."
        "none none none";
}
.circle {
    position: absolute;
    top: 1px;
    width: 75px;
    height: 75px;
    background-color: orange;
    border-radius: 50%;
}

/* *, *:before, *:after {
    box-sizing: border-box; 
}

#menu.main {
    background-color: rgb(56, 56, 56);
} */

#menu {
    display: none;
}

#menu h1 {
    font-family: "Gloria Hallelujah";
    font-size: 100px;
    grid-area: title-score;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    justify-content: center;
    
}
#menu a {
    color: white;
    grid-area: dis-play;
	font-family: "Architects Daughter";
    
    font-size: 200%;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
    /* display: none; */
    
}
.button {
}

#menu a:hover {
	font-size: 300%;
}

#game-over {
    display: none;
    text-align: center;
    padding-top: 92px;
    z-index: 1;
    width: 600px;
    height: 360px;
    overflow: auto;
    margin: auto;
    position: absolute;
}

#score {
    text-align: center
}