*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 95vh;
  width: 100vw;
}

body {
    background-color: rgb(56, 56, 56);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        ". message ."
        ". title-score ."
        ". display-play ."
        ". . .";
}
.circle {
    position: absolute;
    top: 1px;
    width: 75px;
    height: 75px;
    background-color: orange;
    border-radius: 50%;
}

  #menu.main {
    background-color: rgb(56, 56, 56);
  }
  #main {
    display: none;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  #main h1 {
    grid-area: title-score;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid #AA2666;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #FB1886;
    background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
    background-image:         linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
    border-radius: 5px;
  }
  .button:hover {
    background-color: #B30D5D;
    background-image: -webkit-linear-gradient(bottom, #B30D5D 0%, #FB1886 100%);
    background-image:         linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%);
  }

  #game-over {
    display: none;
    text-align: center;
    padding-top: 92px;
    z-index: 1;
    width: 600px;
    height: 360px;
    overflow: auto;
    margin: auto;
    position: absolute;
  }

  #score {
      text-align: center
  }