@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

@supports (grid-area: auto) {
	body {
		background-color: rgb(238, 227, 210);
		display: grid;
		grid-template-columns: 500px 500px;
        grid-template-rows: 200px 50px 150px 200px 150px 150px;
        justify-content: center;
        grid-template-areas: 
            "title title"
            "tab game"
            "dotspho dotspho"
            "dotspho dotspho"
            "howto ."
            "play play";
            
    }
    #madgames {
		grid-area: title;
		background-color: rgb(99, 73, 141);                  
		display: flex;
    	align-items: center;
    	justify-content: center;
		border-radius: 25px;
	}
	
	#madgames h1 {
		font-size: 100px;
		font-family: Aleo;
		font-weight: bold;
		color: white;
		
    }

    #aboutme {
        grid-area: tab;
    
    }

    #aboutme a {
        
        background-color: white;
        border-radius: 15px;
        display: flex;
        align-self: center;
        justify-content: center;
        border: 3px solid black;
        text-decoration: none;
        cursor: pointer;
    }

    #gme {
        grid-area: game;
   
    }

    #gme a{
        grid-area: about;
        background-color: white;
        border-radius: 15px;
        display: flex;
        align-self: center;
        justify-content: center;
        border: 3px solid black;
        text-decoration: none;
        cursor: pointer;
    }

    #dot {
        grid-area: dotspho;
        align-self: center;
    }

    #dot h1{
        font-size: 100px;
        display: flex;
        justify-content: center;
		font-family: Gloria Hallelujah;
		font-weight: bold;
		color: white;
    }
    #img {
        grid-area: dotspho;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    #img img{
        height: 320px;
        border: solid 15px rgb(99, 73, 141);
    }
    #directions {
        grid-area: howto;
        background-color: rgb(156, 139, 114);
        border-radius: 15px;
        display: flex;
        align-self: center;
        justify-content: center;
        position: relative;
        left: 250px;
        top:50px;
    }
    #directions h1 {
        font-size: 50px;
		font-family: Aleo;
		font-weight: bold;
		color: white; 
        
    }
    #howtoplay {
        grid-area: play;
        border-radius: 15px;
        display: flex;
        align-self: center;
        justify-content: center;
        position: relative;
        top: 50px;
    }
    #howtoplay p{
        font-size: 25px;
		font-family: Aleo;
		font-weight: bold;
        color: black; 
        text-align: center;
    }

}